<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Libro</title>
</head>
<body>
    <section>
        <button onclick="location.href='/index'">Inicio</button>
            <button onclick="location.href='/biblioteca'">Biblioteca</button>
            <button onclick="location.href='/amigos'">Agregar Amigos</button>
            <button onclick="location.href='/agregarLibro'">Agregar Libros</button>
            <button onclick="location.href='/login'">Cerrar Sesión</button>
    </section>

    <h1>Agregar un nuevo libro</h1>

    <form action="/agregarLibro" method="post">
        <label>Título:</label><br>
        <input type="text" name="titulo" required><br><br>

        <label>Autor:</label><br>
        <input type="text" name="autor" required><br><br>

        <label>Año de publicación:</label><br>
        <input type="number" name="aniopublicacion" required><br><br>

        <label>Género:</label><br>
        <input type="text" name="genero" required><br><br>

        <label>URL de la imagen:</label><br>
        <input type="text" name="imagen"><br><br>

        <button type="submit">Agregar libro</button>
    </form>
</body>
</html>
